.Grid-axis-row {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.Grid-axis-cell {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
  font-weight: bold;
}

.Grid-axis-hour-cell {
  flex: 1;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
  color: #999999;
  font-weight: bold;
}

.Grid-axis-hour-text {
  flex: 2;
}

.Grid-axis-hour-cell-mark {
  height: 20px;
  border-left: 2px solid #999999;
}